<div class="outer-box">

  <div class="container-fluid inner-box">
    <div class="spacer-big"></div>

    <div class="hidden-xs col-sm-12 no-gutter players">
      <div class="spacer"></div>
      <h5 class="best-players">Páginas de Administrados</h5>

      <div class="sm-col-6"> <%= link_to 'Novo Jogo', "/novo_jogo", method: :get %></div>
      <div class="sm-col-6"> <%= link_to 'Adicionar Jogadores', "/players/new", method: :get %></div>
      <div class="sm-col-6"> <%= link_to 'Editar Jogos', "/view_games", method: :get %></div>


    </div>

  </div>
</div>